{% extends "base.html" %}
{% block title %}
        Forms Page
{% endblock %}
{% block content %}
    <!-- <h1>Coupon Data Table</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Coupon Code</th>
                <th>Effective From</th>
                <th>Effective Till</th>
                <th>Discount Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for coupon in coupons %}
                <tr>
                    <td>{{ coupon.id }}</td>
                    <td>{{ coupon.CouponCode }}</td>
                    <td>{{ coupon.EffectiveFrom }}</td>
                    <td>{{ coupon.EffectiveTill }}</td>
                    <td>{{ coupon.DiscountPercentage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <h5>Coupon Code Table</h5>
    <div id="gridContainer"></div>
    {% block javascript %}
        <script src="{{url_for('static', filename='js/couponcodes.js')}}"></script>
    {% endblock %}
{% endblock %}
