{% extends "base.html" %}
{% block title %}
    Product Page
{% endblock %}
{% block content %}
<h2>Grid with server side rendering </h2>
    <button type="button" onclick="ProductManager.showdata()">Click Me!</button>
    <button type="button" id="newbutton">newbutton Click Me!</button>
    <p id="showoutput"></p>

    <button onclick="ProductManager.getdata()">Show List</button>
    <div id="foo">

    </div>

    <div class="demo-container">
        <div id="gridContainer"></div>
      </div>
    {% block javascript %}
            <script src="{{url_for('static', filename='js/product.js')}}"></script>
    {% endblock %}
{% endblock %}

