{% extends "base.html" %}
{% block title %}
    Product Page
{% endblock %}
{% block content %}
    <h2>Welcome to the Product Page</h2>
    <p>This is the Product page content.</p>
    <button type="button" onclick="prod.saveData()">Click Me!</button>
    <p id="showoutput"></p>

    <button onclick="prod.getdata()">Show List</button>
    <div id="foo">
    </div>
    {% block javascript %}
            <script src="{{url_for('static', filename='js/product.js')}}"></script>
    {% endblock %}
{% endblock %}

